{% extends "base_header.html" %}
{% block page_content %}
  <!-- Example row of columns -->
  <div class="row-fluid">
	  <div class="span12 test-unit">
	  	<img src='/static/bootstrap/img/profile_pic.jpeg' width="190" class="img-polaroid" align="left" style="margin:10px 10px 10px 10px;"/>
	  	<h1><a href="#">About Me</a></h1>
	    <p>I am a PhD candidate in the Political Science Department at the University of Pennsylvania interested in studying Congress, coding in Python, building+analyzing large datasets, and encouraging transparency in government</p>
	    <p>Currently, I live in Lansdowne, Pennsylvania just outside of Philadelphia.</p>
        <p>This site was built with <a href="https://www.djangoproject.com">Django</a> using <a href="http://www.python.org/">python</a> and <a href="http://twitter.github.com/bootstrap/">Twitter bootstrap</a>. If you have any questions or would like a similar site to display your own work, just ask. I will be posting the code on github shortly (11/19/2012)</p>
	  </div>
  </div>
  <br>
{% endblock %}
